@model IEnumerable<Headline>

<table class="table table-bordered table-hover table-striped">
 <tr>
     <th>Image</th>
     <th>Title</th>
     <th>Date</th>
 </tr>
 @foreach(Headline h in Model)
 {
     <tr>
         <td><img src="@h.ImageUrl" /> </td>
         <td @h.Link>@h.Title</td>
         <td>@h.Date</td>
     </tr>
 }

</table>
